/* Global */
body {
  margin: 0;
  font-size: 16px;
  line-height: 1.5;
  color: #2c2c54;
}

.nav-container {
  max-width: 1140px;
  padding: 0 20px;
}

section {
  padding: 96px 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Variables */
$color-one: #0097e6;
$color-two: #33d9b2;
$color-three: #ff5252;
$color-white: #ffffff;

/* Navigation */

nav {
  background-color: $color-one;
  padding: 12px 0;
  font-family: 'Inconsolata', monospace;
}

.navigation {
  display: flex;
  flex-direction: column;
  align-items: center;
  ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
  }
  li {
    display: inline-block;
    position: relative;
    width: 10rem;
    z-index: 100;
  }
  a {
    text-decoration: none;
    color: white;
    &:hover {
      color: $color-two;
    }
  }
}

.navigation li ul {
  display: none;
  background-color: $color-white;
  left: 50%;
  transform: translateX(-50%);
  padding: 12px;
  a {
    color: $color-one;
    display: block;
    &:hover {
      color: $color-two;
    }
  }
}

.navigation li:hover ul {
  display: block;
  position: absolute;
}
.navigation ul ul li {
  display: block;
}

/* Drum Kit */

.drumkit {
  text-align: center;
  background-color: #283149;

  h1 {
    font-size: 5rem;
    color: #dbedf3;
    font-family: 'Arvo', cursive;
    text-shadow: 3px 0 #da0463;
  }

  footer {
    color: #dbedf3;
    font-family: sans-serif;
  }

  .w {
    background-image: url('../images/drumKit/tom1.png');
  }

  .a {
    background-image: url('../images/drumKit/tom2.png');
  }

  .s {
    background-image: url('../images/drumKit/tom3.png');
  }

  .d {
    background-image: url('../images/drumKit/tom4.png');
  }

  .j {
    background-image: url('../images/drumKit/crash.png');
  }

  .k {
    background-image: url('../images/drumKit/kick.png');
  }

  .l {
    background-image: url('../images/drumKit/snare.png');
  }

  .set {
    margin: 10% auto;
  }

  .game-over {
    background-color: red;
    opacity: 0.8;
  }

  .pressed {
    box-shadow: 0 3px 4px 0 #dbedf3;
    opacity: 0.5;
  }

  .red {
    color: red;
  }

  .drum {
    outline: none;
    border: 10px solid #404b69;
    font-size: 5rem;
    font-family: 'Arvo', cursive;
    line-height: 2;
    font-weight: 900;
    color: #da0463;
    text-shadow: 3px 0 #dbedf3;
    border-radius: 15px;
    display: inline-block;
    width: 150px;
    height: 150px;
    text-align: center;
    margin: 10px;
    background-color: white;
  }
}
